/*---------------------------------
            CSS RESET
----------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------------------------------
              BASE
----------------------------------*/

body, nav {
	background: #221301;
	color: #fff;
	
}


.scroll-down {
	background: #fff;
	border: 0.5px solid #fff;
	height: 400px;
	width: 0.5px;
	padding-bottom: 200px;
}

/*---------------------------------
              LAYOUT
----------------------------------*/

section {
	margin: 50px;
}

.block {
	margin-left: auto;
	margin-right: auto;
}

/*---------------------------------
            TEXT STYLES 86af49 background: #33271d;
----------------------------------*/

body {
	font-size: 20px;
	font-family: "Cormorant Garamond", sans-serif;
	font-weight: 100;
	line-height: 1.3em;
}

nav li {
	font-size: 1.2em;
}

.fancy {
	font-style: italic;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #d39a74;
}

/*---------------------------------
        NAVIGATION STYLES
----------------------------------*/

nav {
    display: block;
	top: 0;
    text-align: center;
    padding: 10px;
	position: fixed;
	width: 100%;
}

nav ul {
	width: 100%;
}

nav ul li { 
    display: inline-block;
	padding: 0 2%;
	vertical-align: middle;
}

nav img {
	height: 20px;
	padding: 5px 5px 0 5px;
	
}

.left {
	float: left;
	margin: 7px 1% 0 1%;
}


.right {
	float: right;
	margin: 7px 1% 0 1%;
}

nav img:nth-child(3) {
	margin: 7px 2% 0 1%;
}

.logo {
	font-weight: 600;
	font-size: 2em;
	padding: 10px 10%;
}
 
/*---------------------------------
        HOMEPAGE STYLES
----------------------------------*/

h1 {
	font-size: 5em;
	line-height: 1.2em;
	min-width: 100px;
	max-width: 800px;
}

.main {
	margin-top: 350px;
	margin-bottom: 300px;
	margin-left: 200px;
}

.slideshow-image {
	height: 500px;;
	object-fit: cover;
	width: 50%;
}

.arrow {
	border-top: 2px solid white;
	border-left: 2px solid white;
	bottom: 200px;
	height: 100px;
	position: relative;
	width: 100px;
}

.arrow-left {
	transform: rotate(-45deg);
}

.arrow-right {
	transform: rotate(135deg);
}

.slideshow * {
	display: inline-block;
}

.slideshow {
	text-align: center;
}

.arrow {
	display: none;
}

.slideshow:hover .arrow {
	display: inline-block;
	border-top: 2px solid white;
	border-left: 2px solid white;
}

/*---------------------------------
        LINKS STYLES test
----------------------------------*/



/*---------------------------------
        RESPONSIVE STYLES
----------------------------------*/

/* media query screen size less than 1600px
.logo {
	
	padding: 10px 7%;
}

nav ul li { 
	padding: 0 1%;
}

media query screen size less than Xpx
.logo {
	
	padding: 10px 5%;
}

nav ul li { 
	padding: 0 0.5%;
}
*/